@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
*{
    background-color: #333;
    color: wheat;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ojuju", sans-serif;
  }

header{
    margin: 12px;
    padding: 12px;
    text-align: center;
    font-size: 1.4em;
}
/* END of ____ header section styles ___ */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust as needed */
}

navbar ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #f5deb3;
    padding: 10px 20px;
    border-radius: 22px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #fd9801;
    color: #333;
    font-weight: 600;
}
/* END of ___ nav styling ____ */

/* SECTION  ___ home styling ____ */
#home {
    margin: 0;
    text-align: start;
    padding: 12px;
}
h2{
    font-weight: 600;
    font-size: 2.3em;
}
#home p{
    font-size: 1.4em;
}

h2 span{
    font-size: .5em;
    color: #fd9801;
    text-transform: capitalize;
    border-radius: 3px ;
}

/* Image styling using grind */
#tech-image{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    cursor: pointer;
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-template-rows: var(--row-height);
    gap: var(--gap);
}

#tech-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 8px;
}

.image-grid-col-2{
    grid-column: span 2;
}

.image-grid-row-2{
    grid-row: span 2;
}

/* Menu section styling */
#menu {
    text-align: center;
}

#h2{
    text-align: start;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with minimum width of 200px */
    gap: 20px; /* Space between grid items */
    list-style: none;
    padding: 0;
}

.menu-list li {
    text-align: center;
}

.menu-list a {
    text-decoration: none;
    color: inherit;
    display: block; /* Ensure the entire area of the link is clickable */
}

.menu-list img {
    width: 200px; /* Set width to desired size */
    height: 200px; /* Set height to desired size */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 5px;
}

.menu-list span {
    display: block;
    margin-top: 5px;
}

/* Footer */
#footer {
    text-align: center; /* Align text horizontally */
    /* position: fixed; Stick the footer to the bottom */
    width: 100%; /* Take up full width of the viewport */
    bottom: 0; /* Stick to the bottom of the viewport */
    background-color: #333; /* Example background color */
    padding: 20px 0; /* Add padding for spacing */
}




/* Anything under 1024px */
@media screen and (max-width: 1024px)
{
    #tech-image{
        --num-cols: 2;
        --rows-height: 200px;
    }
}


/* Nature images styling */
/* #nature-img{
    --gap: 18px;
    --num-columns: 4;
    --row-height: 200px;

    cursor: pointer;
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-columns), 1fr);
grid-template-columns: var(--row-height);
    gap: var(--gap);

    justify-content: center;
}

#nature-img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 8px;
} */






















/* #tech-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    justify-content: center; /* center the grid horizontally */
    gap: 20px; /* space between grid items 
}
*/

/* #tech-image a {
    text-decoration: none;
    display: flex;
    justify-content: center; /* center the image horizontally 
} */
/* 
#tech-image img {
    max-width: 100%; /* ensure images don't exceed their container */
    height: auto; /* maintain aspect ratio */
    max-height: 200px; /* set maximum height 
} */ 